 /*.bg-purple-700 {	
    --tw-bg-opacity: 1;*/	
    /*background-color: rgb(108 43 217 / var(--tw-bg-opacity));	
    background-color: #0c3da0;*/	
  
  /*.bg-gray-50 {*/	
    /*--tw-bg-opacity: 1;*/
    /*background-color: rgb(249 250 251 / var(--tw-bg-opacity));*/	  
    /*#065beb*/
    
  /*.text-purple-500 {*/	
    /*--tw-text-opacity: 1;*/	
    /*color: rgb(144 97 249 / var(--tw-text-opacity));*/	
    /*color:#0c3da0;*/	
  
  /*.text-purple-600 {	
    --tw-text-opacity: 1;*/	
    /*color: rgb(126 58 242 / var(--tw-text-opacity));*/	
    /*color:#0c3da0;*/	
  
  /*.hover\:text-purple-800:hover {	
    --tw-text-opacity: 1;	*/
    /*color: rgb(85 33 181 / var(--tw-text-opacity));*/	
    /*color:#0c3da0;*/	
  
  /*.lg\:text-purple-700 {	
    --tw-text-opacity: 1;	*/
    /*color: rgb(108 43 217 / var(--tw-text-opacity));*/	
    /*color:#0c3da0;*/	

    