<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="todo.component.css">
    <!-- Icon Stylesheet -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/unicons.css">
    <title>To Do List</title>
</head>
<body>
    <div class="wrapper">
        <div class="task-input">            
            <img src="https://img.icons8.com/external-febrian-hidayat-basic-outline-febrian-hidayat/24/null/external-menu-bar-ui-essential-febrian-hidayat-basic-outline-febrian-hidayat.png"/>
            <input type="text" placeholder="Add a new task" #titleInput>
        </div>
        <div class="controls">
            <div class="filters">
                <span id="all">All</span>
                <span id="pending">Pending</span>
                <span id="completed">Completed</span>
            </div>
            <button class="clear-btn">Clear All</button>
        </div>
        <ul class="task-box">
            <li class="list-group-item" *ngFor="let item of todos">
                <span>
                    <i class="text-success" (click)="onStatusChange(item.id,!item.isDone)"
                    [ngClass]="item.isDone?'fa-solid fa-circle-check':'fa-regular fa-circle'">
                    </i>
                    {{item.title}}
                    <span class="float-end text-secondary" (click)="onDelete(item.id)">
                        <i class="fa-solid fa-trash-can"></i>
                    </span>
                </span>
            </li>
        </ul>
    </div>

    <script src="todo.component.ts"></script>
    
</body>
</html>