<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <div class="wrapper">
        <h1>Sign In</h1>
        <form action="#">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <div class="recover">
                <a href="#">Forgot Password?</a>
            </div>
        </form>
        <button>Sign In</button>
        <div class="member">
            Not a member? <a routerLink="/register">Sign up here</a>
        </div>
    </div>
</body>
</html>
