/*ABOUT*/
body{}

.first_div {
  width: fit-content;
  height: 500px;
}
.second_div {
  position: relative;
  top: 30px;
  margin-bottom: 100px;
  width: 1000px;
  padding: 2rem 1rem;
  /*margin: 50px auto;*/
  margin: auto;
  background-color: #718ffbaf;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

  /*margin-top: 290px; 
  max-width: 1280px; 
  margin-bottom: 30px;
  height: 100px;*/
}
.about-page h2{
    width: 97%;
    color: var(--grey-800);
    font-weight: bold;
    text-align: right;
    margin-bottom: 1rem;
  }
  .about-page h4{
    color: var(--grey-800);
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .about_container{
    height: 10rem;
    margin-top: 40px;
    max-width: 1280px;
    margin-bottom: 40px;
  }

  .about_basic_container{
    height: fit-content;
    width: fit-content;
    max-width: 1280px;
    position: absolute;
  }
  .about-page p{
    text-transform: none;
    color: var(--grey-800);
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

  }
  .about-page {
    height: 100px;
    position: relative;
    top: 400px;

    align-items: center;
    justify-content: center;
    display: grid;
    gap: 2rem 4rem;
  }
  @media screen and (min-width: 992px){
    .about-page {
      align-items: center;
      justify-items: center;
    }
  
  }

  .about_footer{
    top: 900px;
    position: relative;
}