<app-navbar></app-navbar>
<section class = "about-page">
    <!---<div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">--->
    <!--<div class="first_div">--->
        <div class = "second_div">
            <div class="about_container">
                <article class="about">
                <h2>
                    A Site Formulated for Students
                </h2>
                <div class="about_basic_container">
                    <h4>
                    Mission
                    </h4>
                    <p>
                    This web application was created to allow students and working professionals to figure out the best way that they work, by allowing them to generate a curated playlist through Spotify and figure out what time blocking methods work best for them.
                    </p>
                </div>
                </article>
            </div>
        </div>
    <!--</div>-->
</section>
<app-footer class="about_footer"></app-footer>
