/*ABOUT*/
.about-page h2{
    width: 97%;
    color: var(--grey-800);
    font-weight: bold;
    text-align: right;
    margin-bottom: 1rem;
  }
  .about-page h4{
    color: var(--grey-800);
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .about_container{
    height: 16rem;
    margin-top: 350px;
    max-width: 1280px;
  }

  .about_basic_container{
    height: fit-content;
    width: fit-content;
    max-width: 1280px;
  }
  .about-page p{
    text-transform: none;
    color: var(--grey-800);
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
  }
  .about-page {
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 2rem 4rem;
    height: 1000px;
  }
  @media screen and (min-width: 992px){
    .about-page {
      align-items: center;
      justify-items: center;
    }
  
  }