
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
html {
    font-size: 100%;
}

body {
    font-family: system-ui;
    background:#fff;
    color: #403029;
    text-align: center;
    min-height: 500px;
}
h1 {
    font-family: system-ui;
    color: #403029;
    text-align: center;
}
h2 {
    font-family: system-ui;
    color: #403029;
    text-align: center;
}

h3 {
    font-family: Futura;
    color: #403029;
    text-align: left;
}

p {
    font-family: optima;
    color: #403029;
    text-align: left;
}

