/*Import feComponentTransfer*/

/*Import fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato400,700|Nunito:400,700');

$color1: #0f6bbc;
$color2: rgb(5, 132, 243);
$color3: rgb(43, 226, 168);
$color4: rgb(196, 198, 199);
$color5: rgb(4, 85, 112);

/*Main styles*/
$family-sans-serif: "Nunito", sans-serif;
$primary: $color2;
$link: $color2;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html{
    background: linear-gradient(to right top, $color1, $color2);
}

html, body {
    height: 100%;
}