<body>
    <div class="centered-content">
        <div class="task-manager">
            <div class="sidebar">
                <h1 class="title">
                    Lists
                </h1>

                <div class="list-menu">
                    <a class="list-menu-item">
                        <p>Work</p>
                    </a>
                    <a class="list-menu-item">
                        <p>School</p>
                    </a>
                    <a class="list-menu-item">
                        <p>Home</p>
                    </a>
                </div>

                <button class="button is-primary has-text-white" >
                    + New List
                </button>
                <!--(click) = "createNewList()"-->
            </div>

            <div class="task-list">
                <h1 class="title">
                    Tasks
                </h1>
                <!-- TASK ELEMENTS -->
                <div class="task">
                    <p>Review notes for database exam</p>
                </div>
                <div class="task complete">
                    <p>Work on project</p>
                </div>
                <div class="task">
                    <p>Study for Calc 2 exam</p>
                </div>
                <div class="task">
                    <p>Submit projecet for PLC</p>
                </div>

                <button class="circle-add-button button is-primary">
                    <p class="circle-add-button-text">+</p>
                </button>

            </div>
        </div>
    </div>
</body>
