<body>
    <div class="centered-content">
        <div class="task-manager">
            <div class="sidebar">
                <h1 class="title">
                    Lists
                </h1>

                <div class="list-menu">
                    <a class="list-menu-item">
                        <p>List #1</p>
                    </a>
                    <a class="list-menu-item">
                        <p>List #2</p>
                    </a>
                    <a class="list-menu-item">
                        <p>List #3</p>
                    </a>
                </div>

                <button class="button is-primary has-text-white">+ New List</button>
                
            </div>

            <div class="task-list">
                <h1 class="title">
                    Tasks
                </h1>
            </div>
        </div>
    </div>
</body>
