@import "./task-styles.scss";

/*Import fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');
@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

html{
    background: linear-gradient(to right top, #44ddd0, #34625f);
}

html, body {
    height: 100%;
    background: linear-gradient(to right top, #44ddd0, #34625f);
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.task-manager{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-height: 680px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: rgb(184, 216, 225);
    padding: 42px;
    border-top-left-radius: 8px ;
    border-bottom-left-radius: 8px;
}

.task-list {
    background:rgb(161, 184, 191);
    display: flex;
    flex-grow: 1;
    padding: 40px;

    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px;
}

.title {
    font-family: 'Futura';
    font-size: 24px;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
}

.list-menu{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;
}

.list-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
    color: gray;
}

.list-menu-item:hover{
    background: lightblue;
}

.list-menu-item:active {
    background-color: rgb(5, 154, 154);
    color: darkblue;
}





