<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>
      <p class="text-left">Please enter your email address to request a password reset.</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="button" value="Reset Password"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">

        <input type="submit" class="button" value="Return to Login" routerLink="/login">
        <!-- 
            <button>
            <span>Return to <span class="redirect" routerLink="/sign-in">Log In</span></span>
            </button> 
          -->
      </div>
    </div>
  </div>
</div>