<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="wrapper">
        <h1>Sign Up</h1>
        <form action="#">
            <input type="text" placeholder="Email" #userEmail required>
            <input type="text" placeholder="Name">
            <input type="password" placeholder="Password" #userPwd required>
            <input type="password" placeholder="Re-enter Password">
        </form>
        <!--
            <div class="terms">
            <input type="checkbox" id="checkbox">
            <label for="checkbox"> I agree to these 
                <a href="#">Terms & Conditions</a></label>
        </div>
        -->
        <button (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
        <div class="member">
            Already a member? <a routerLink="/login">Login</a>
        </div>
    </div>
</body>
</html>